body {
  background: url(../img/background.png) white repeat 0 0;
  background-size: 300px 300px;
  color: #fff;
  margin-top: .5em; }

#logo, #info {
  text-align: center;
  margin: 0 auto; }

#logo {
  width: 50%;
  margin-bottom: .5em; }

#info {
  width: 80%; }

h1, h2, h3 {
  margin-top: 0;
  text-align: center; }

h1 {
  font-family: "quatro", "Helvetica Neue", Arial, sans-serif;
  color: #97c441;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0;
  line-height: 1em; }

h2 {
  font-family: "atrament-web", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #d34913; }

h3 {
  color: #FFFFFF;
  font-family: "atrament-web", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase; }

p {
  text-align: center; }
  p .button {
    background-color: #97c441;
    border-color: #62802a; }
    p .button:hover, p .button:focus {
      background-color: #62802a; }

@media only screen and (min-width: 768px) {
  body {
    margin-top: 2em; }

  #logo {
    margin-bottom: 1em;
    max-width: 441px; }

  h1 {
    font-size: 4em; }

  h2 {
    font-size: 2.5em;
    line-height: 1em; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    margin-top: 1em; }

  #logo {
    max-width: 200px; }

  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 2em; } }
