body {
  background: url(../img/background.png) white repeat 0 0;
  background-size: 300px 300px;
  color: #fff; }

#main {
  margin: 5% auto 0;
  width: 80%; }

#logo {
  display: block;
  width: 80%;
  margin: 0 auto; }

h1, h2, h3 {
  margin-top: 0;
  text-align: center; }

h1 {
  font-family: "quatro", "Helvetica Neue", Arial, sans-serif;
  color: #97c441;
  text-transform: uppercase; }

h2 {
  font-family: "atrament-web", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  color: #d34913; }

h3 {
  color: #FFFFFF;
  font-family: "atrament-web", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase; }

p {
  text-align: center; }
  p .button {
    background-color: #97c441;
    border-color: #62802a; }
    p .button:hover, p .button:focus {
      background-color: #62802a; }

@media only screen and (max-device-width: 480px) {
  #main {
    margin-top: 2%; }

  #logo {
    max-width: 176px; }

  h1 {
    font-size: 2em;
    margin-bottom: 0; }

  h2 {
    font-size: 1.5em; } }
@media only screen and (min-width: 768px) {
  #logo {
    max-width: 441px; }

  h1 {
    font-size: 4em;
    line-height: 1em;
    margin-bottom: .2em; }

  h2 {
    font-size: 2.5em;
    line-height: 1em; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #main {
    margin-top: 2%; }

  #logo {
    max-height: 300px; }

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: .2em; }

  h2 {
    font-size: 2em;
    line-height: 1em; } }
