// Custom style partial

$green:     #97C441;
$green-dk:  #62802A;
$orange-dk: #D34913;

$quatro: "quatro", "Helvetica Neue", Arial, sans-serif;
$atrament: "atrament-web", "Helvetica Neue", Arial, sans-serif;


body {
	background: url(../img/background.png) white repeat 0 0;
	background-size: 300px 300px;
	color: #fff;
	margin-top: 5%;
}

#logo, #info {
  text-align: center;
  margin: 0 auto;
}

#logo {
  width: 50%;
  margin-bottom: .5em;
}

#info {
  width: 80%;
}


h1, h2, h3 {
  margin-top: 0;
	text-align: center;
}

h1 {
	font-family: $quatro;
	color: $green;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 0;
	line-height: 1em;
}

h2 {
	font-family: $atrament;
	font-size: 1.5em;
	font-weight: 600;
	color: $orange-dk;
}

h3 {
  color: #FFFFFF;
	font-family: $atrament;
	text-transform: uppercase;
}

p {
	text-align: center;
	.button {
  	background-color: $green;
  	border-color: $green-dk;
  	&:hover, &:focus {
    	background-color: $green-dk;    	
  	}
	}
}

// Bigger than smartphone
@media only screen and (min-width: 768px) {
  #logo {
    margin-bottom: 1em;
    max-width: 441px;
  }

	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 2.5em;
		line-height: 1em;
	}
}

// Tablet in landscape
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) {
  #logo {	max-width: 200px; }

  h1 { font-size: 2.5em; }

  h2 { font-size: 2em; }
 
}

